// Z Index file for arranging all elements on the screen

$zIndex-1: 100;
$zIndex-2: 200;
$zIndex-3: 300;

//$zIndex-1--heroText: $zIndex-1;
$zIndex-2--nav: $zIndex-2;
$zIndex-3--nav-subItem: $zIndex-3;
