doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.3.0/pure-min.css')
    link(rel='stylesheet', href='/stylesheets/stacktable.css')
    link(rel='stylesheet', href='/stylesheets/site.css')
    link(rel='stylesheet', href='/stylesheets/tooltipster.css')
    block css
  body
    block content
    br

    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')

    block scripts