.pure-menu.pure-menu-open.pure-menu-horizontal
    ul
        li
            a(href='#') WL
        -var items = { '/':'Home', 'alltrucks':'All Trucks', 'about':'About', 'support':'Support'}
        -each val, key in items
            -if (id == key)
                li.pure-menu-selected
                    a(href='#{key}') #{val}
            -else
                li
                    a(href='#{key}') #{val}
        li
            a(href='http://wanderinglunch.userecho.com/') Feedback