extends includes/base

block css
    link(href="http://fonts.googleapis.com/css?family=Reenie+Beanie"
       , rel="stylesheet"
       , type="text/css")
    link(rel='stylesheet', href='/stylesheets/site.css')

block content
    include includes/menu

    .content
        h1 About the site
        p.about The site gets data from twitter and displays it in an easy to read format. I would also suggest double 
            | checking the information on twitter by clicking the time past link. I'm constantly trying to improve 
            | and feedback is welcome on twitter <a href="http://twitter.com/peppage">@peppage</a>. 
        

        h1 About Me
        img.me(src="/images/me.jpeg")
        p.about Hi! My name is <em>Michael Peppler</em>. I'm a <em>web developer</em> in <em>New York City, New York</em> just looking to solve his <em>midday hunger</em> with a <em>great meal</em>. I enjoy <em>brewing coffee, brewing beer, and eating (of course!).</em>

        h1 Nerdy Part
        p.about.code var express = require('express'); <br> var mongoose = require('mongoose'); <br> var moment = require('moment');