include mixins/truckTable

extends includes/base

block css
    link(rel='stylesheet', href='/stylesheets/index.css')
    meta(name='description', content='Complete list of food trucks around New York City')

block content
    include includes/menu
    
    h1.centerText All Trucks
    +truckTable(trucks)

block scripts
    script(src='/javascripts/site-combined.js')

    script.
        $(document).ready(function() {
            $('.tooltip').tooltipster();
            $('.image-link').magnificPopup({type:'image'});
        });