include mixins/truckTable

extends includes/base

block css
    link(rel='stylesheet', href='/stylesheets/index.css')
    meta(name='description', content='Track and find food trucks around New York City. Updated everyday from twitter')

block content
    include includes/menu
    .sub-nav Quick Jump: 
        a(href='#uptown') Above 34th 
        a(href='#midtown') 10th to 33rd 
        a(href='#downtown') Downtown 
        a(href='#brooklyn') Brooklyn 

    - if (upTrucks.length !== 0) {
        a#uptown(style='visibility: hidden')
        h1.centerText Above 34th
        +truckTable(upTrucks)
    - }

    - if (midTrucks.length !== 0) {
        a#midtown(style='visibility: hidden')
        h1.centerText 10th to 33rd
        +truckTable(midTrucks)
    - }

    - if (downTrucks.length !== 0) {
        a#downtown(style='visibility: hidden')
        h1.centerText Downtown
        +truckTable(downTrucks)
    - }

    - if (bkTrucks.length !== 0) {
        a#brooklyn(style='visibility: hidden')
        h1.centerText Brooklyn
        +truckTable(bkTrucks)
    - }

    - if (upTrucks.length == 0 && midTrucks.length == 0 && downTrucks.length == 0 && bkTrucks.length == 0) {
        h1.centerText Your hunger cannot be satisfied, no trucks are tweeting
        p.centerText If it's late bookmark the site and come back around lunchtime! <br>
        p.centerText There will be a list of trucks here, <a target="_blank" href="https://twitter.com/intent/tweet?text=Wandering Lunch&url=http://wanderinglunch.com">tweet</a> at yourself so you don't forget.<br>
        p.centerText Check out <a href="/alltrucks">a list of all the trucks</a> on the site while you wait.
    - }

block scripts
    script.
        function appInit() {
            $(document).ready(function() {
                if( $('.tooltip').length > 0 ) {
                    $('.tooltip').tooltipster();
                    $('.image-link').magnificPopup({type:'image'});
                }
            });
        }