include mixins/truckTable

extends includes/base

block content
    include includes/menu

    h1.centerText Above 34th
    +truckTable(upTrucks)

    h1.centerText 10th to 33rd
    +truckTable(midTrucks)

    h1.centerText Downtown
    +truckTable(downTrucks)

    h1.centerText Brooklyn
    +truckTable(bkTrucks)

block scripts
    script(type='text/javascript'
         , src='/javascripts/jquery.tooltipster.js')
    script(type='text/javascript'
         , src='/javascripts/stacktable.js')

    script.
        $(document).ready(function() {
            $('.tooltip').tooltipster();
            $('.truckTable').stacktable({myClass:'stacktable small-only'});
        });