extends includes/base

block css
    link(rel='stylesheet', href='/stylesheets/site.css')

block content
    include includes/menu

    h1 Stats

    p There are #{total} trucks on the website

block scripts
    script(src='/javascripts/modernizr.custom.js')