extends includes/base

block css
    link(rel='stylesheet', href='/stylesheets/index.css')

block content
    include includes/menu

    h1.centerText Support the site

    p.content.
        Thanks for even thinking about supporting this site.  I have 
        put a lot of time and energy into making this and I hope you 
        find it useful. Right now the server costs $5/mo to run, if you 
        want to help you can use any of these methods:
    br
    .support-area
        a(href='https://spacebox.io/s/XZDcsZkoA0' class='sbe-button')
            img(src="/images/stripe-solid.png")

        form(action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top")
            input(type="hidden" name="cmd" value="_s-xclick")
            input(type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHLwYJKoZIhvcNAQcEoIIHIDCCBxwCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYBE2N/g1GHjx7hKMuwwivyq1VmIJbOtwnmbgWitgDmrp2ukWjo1wB8/yBc3AwBZNg90FYtIN7f2UmjCO+jmzh/H4Cmy2lgXqUnQpWrdY3yCAUjKm3mx/vGclBnoviT8SonPgeRcWvjpPpnf9rPOdbPKgy4gPJactCN914LvUW97pjELMAkGBSsOAwIaBQAwgawGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIwQ4vIYgTSGmAgYj0yPzpDKZz4Qe0+5eLcnaiTA66/ZI90sIZ4bYaOsQHjvwps4bH31PIeyzs1JDmc6M17OTfWzQ52aTtHA0YcTBno/kFc8dRt8NsOmjRERXfdymmLSs9WiejPkNtYzs6VFZhuqgqs5nBDl9lXzSo+EvfghCfOBUS12hzn5XMq+YDHJgsXfdi5DyvoIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTMxMTE3MDcwMDA0WjAjBgkqhkiG9w0BCQQxFgQU0Qg5jRx1g1UD8yRyOgHiOjkNd5swDQYJKoZIhvcNAQEBBQAEgYADOoXTVfs1+n2AzI8C+gNvgxNClmDkp+ZThh2x4617u1aeW9eBbbfaFDBDtmTP9RxaxzMcrMKtngIonSK8jO9/efv2CQ2F3P9KWzsH26xNam7SDQt8pjP9Ev89LASHQSfr4kiqGtx8a/OvA2bBXR48kByyGDwKgQZVgjdXsBRamQ==-----END PKCS7-----")
            input(type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!")
                img(alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1")

        .bit-coin
            a(href="http://en.wikipedia.org/wiki/Bitcoin")
                ฿
            &#58; 15u7iHaRHaBFkANCHfFaiyx6g6TBBEa8A8
            br
            a(class="coinbase-button" data-code="ec0a6c3f8d98dce0bab55edc653387d9" data-button-style="donation_small" href="https://coinbase.com/checkouts/ec0a6c3f8d98dce0bab55edc653387d9") Donate Bitcoins
                script(src="https://coinbase.com/assets/button.js" type="text/javascript")

    p.content
        | I am also starting to accept pictures of food from trucks, I
        | want quality pictures to help people see the type of food
        | is from each truck. Thanks!

block scripts
    script(type='text/javascript'
         , src='/javascripts/jquery.stickyfooter.js')
    script(type='text/javascrpt'
         , src='https://spacebox.io/embed/js/embed-v1.js')