label {
    font-weight: bold;
    margin-bottom: 0.375em;
}

input,textarea,select {
    border-radius: 3px;
    transition: border-color;
    border: 1px solid #DDD;
    width: 100%;
    padding: 0.5em 0.5em;
    margin-bottom: 0.75em;
    font-size: 1em;
    color: #333
}

input:hover,textarea:hover,select:hover {
    border-color: #c4c4c4
}

input:focus,textarea:focus,select:hover {
    border-color: #f7972c;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.06), 0 0 5px #f7972c;
    outline:none
}

textarea {
    height: 200px
}

.button {
     font-size: 100%;
     padding: .5em 1em;
     border: 0 rgba(0,0,0,0);
     text-decoration: none;
     border-radius: 2px;
}

.button:hover {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000', GradientType=0);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(transparent),color-stop(40%,rgba(0,0,0,.05)),to(rgba(0,0,0,.1)));
    background-image: -webkit-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
    background-image: -moz-linear-gradient(top,rgba(0,0,0,.05) 0,rgba(0,0,0,.1));
    background-image: -o-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
    background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
}

.button--primary {
    background-color: #e23c5d;
    color: #fff;
}