.notification {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: -webkit-linear-gradient(#D91E18, #D91E18);
    background: linear-gradient(#D91E18, #D91E18);
    color: white;
    font-size: 14px;
    font-weight: 100;
    -webkit-transition: .8s;
    transition: .8s;
    -webkit-animation: slideIn .8s;
    animation: slideIn .8s;
    -webkit-animation-delay: .8s;
    animation-delay: .8s;
}

.notification a {
    color: white;
}

.notification a:hover {
    color: white;
}

.notification .message {
    white-space: nowrap;
    text-shadow: 0 1px 0 #D91E18;
}
@media (max-width: 767px) {
    .notification .message {
        display: none;
    }
}
@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes slideIn {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
.close-cb {
    border: none;
    color: white;
    background: #96281B;
    position: absolute;
    display: inline-block;
    right: 10px;
    top: 0;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.2);
    line-height: 30px;
    height: 30px;
    width: 30px;
    font-size: 16px;
    font-weight: bold;
}
.close-cb:hover {
    background: #96281B;
}
.checkbox-cb {
    display: none;
}
.checkbox-cb:checked + .notification {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
}
.hidden {
    display: none;
}