.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
}

.table .thead {
    vertical-align: middle;
}

.table th {
    line-height: 1.5em;
    padding: 0.75rem 1rem;
    border-bottom: 2px solid #dcd;
}

.table td {
    line-height: 1.5em;
    padding: 0.75rem 1rem;
    border-top: 1px solid #dcd;
    border-bottom: 0;
}

.table tbody tr:hover>td {
    background-color: #fafafa;
}

.table tbody tr.noHover:hover>td {
    background-color: white;
}

.table tbody tr:first-child td, .table .thead+tr td {
    border-top: 0;
}

.table .noBorder td {
    border: 0;
}