@model IEnumerable<Wanderinglunch.Web.ViewModels.TweetWithLocations>

@foreach (var t in Model)
{
    <tr>
        <td>
            @t.Tweet.Text
            <br />

            <a href="https://twitter.com/@t.Tweet.TruckId">
                @t.Tweet.TruckId
            </a>
            &nbsp;
            <a href="https://twitter.com/@t.Tweet.TruckId/status/@t.Tweet.Id">
                @t.Time
            </a>
        </td>
        <td>
            @foreach (var l in t.Locations)
            {
                <div>@l.Display</div>
            }
        </td>
        <td>
            <button hx-delete="/admin/markdone?id=@t.Tweet.Id">Done</button>
        </td>
    </tr>
}