@model IEnumerable<Wanderinglunch.Core.Entities.Location>

@foreach (var l in Model)
{
    <tr>
        <td>
            <a href="/admin/location/@l.Id">@l.Display</a>
        </td>
        <td>@l.Zone</td>
    </tr>
}