@page "{handler?}"
@model AdminIndexModel
@{
    ViewData["Title"] = "Queue";
}
<h1>Admin Queue</h1>

<table class="table" style="width:100%;" hx-target="closest tr" hx-swap="outerHTML swap:.2s">
    <thead>
        <tr>
            <th>Text</th>
            <th>Locations</th>
            <th />
        </tr>
    </thead>
    <tbody id="search-results">
        @await Html.PartialAsync("_adminQueue", Model.Tweets)
    </tbody>
</table>