@page "{id?}"
@model SubModel
@{
    ViewData["Title"] = $"Location {Model.Sub?.Replacement ?? ""}";
}

@if (!string.IsNullOrEmpty(Model.Message))
{
    <div class="admin-message">
        @Model.Message
    </div>
}

<form method="post">
    <input asp-for="Sub.Id" type="hidden" />
    <div class="form-field">
        <label asp-for="Sub.Regex"></label>
        <input asp-for="Sub.Regex" />
    </div>
    <div class="form-field">
        <label asp-for="Sub.Replacement"></label>
        <input asp-for="Sub.Replacement" />
    </div>

    <div class="form-buttons">
        <button type="submit">Save</button>
    </div>
</form>