@page "{id?}"
@model AdminTruckModel
@{
    ViewData["Title"] = $"Truck {Model.Truck?.Name ?? ""}";
}

@if (!string.IsNullOrEmpty(Model.Message))
{
    <div class="admin-message">
        @Model.Message
    </div>
}

<p>

    @if (Model.Truck != null || !string.IsNullOrEmpty(Model.Truck.Id))
    {
        <a href="https://twitter.com/@Model.Truck.Id">Twitter</a><br>
        <a href="@Model.Truck.WebURL">Website</a><br>
        <a href="https://foursquare.com/v/@Model.Truck.Foursquare">Foursquare</a>
    }
</p>

<form method="post">
    <input asp-for="OriginalTwitName" type="hidden" />
    <input asp-for="Truck.LastUpdate" type="hidden" />

    <div class="form-group">
        <label asp-for="Truck.Name"></label>
        <input asp-for="Truck.Name" />
    </div>
    <div class="form-group">
        <label asp-for="Truck.Id">Twitter</label>
        <input asp-for="Truck.Id" />
    </div>
    <div class="form-group">
        <label asp-for="Truck.WebURL">Website</label>
        <input asp-for="Truck.WebURL" />
    </div>
    <div class="form-group">
        <label asp-for="Truck.Type"></label>
        <input asp-for="Truck.Type" />
    </div>
    <div class="form-group">
        <label asp-for="Truck.About"></label>
        <input asp-for="Truck.About" />
    </div>
    <div class="form-group">
        <label asp-for="Truck.Foursquare"></label>
        <input asp-for="Truck.Foursquare" />
    </div>
    <div class="form-group">
        <label asp-for="Truck.Site"></label>
        <input asp-for="Truck.Site" />
    </div>
    <div class="form-group">
        <input asp-for="Truck.Archive" />
        <label asp-for="Truck.Archive"></label>
    </div>

    <div class="form-buttons">
        <button type="submit">Save</button>
    </div>
</form>