{{ with .truck }}
	<h1>{{ .Name }}</h1>
	<h2>Information</h2>
	<p>
		<ul>
			<li><a href="http://twitter.com/{{ .Twitname }}">Twitter</a></li>
			{{ if .Weburl.Value }}
				<li><a href="{{ .Weburl.Value }}">Website</a></li>
			{{ end }}
			{{ if .Foursquare.Value }}
				<li><a href="http://foursquare.com/v/{{ .Foursquare.Value }}?ref=P1JDYDE13QQDC11VUSA4LV3VV25OTRPHV1WAV5WP3VCE0QUP">Foursquare</a></li>
			{{ end }}
		</ul>
	</p>

	<h2>Tweets</h2>
	<table class="table table-minimal">
		<thead>
			<th>Tweet </th>
		</thead>
		<tbody data-bind="foreach: results">
			<td><a href="#" data-bind="attr: {href: '/admin/location/new/'+id }"><span data-bind="text: contents"></span></a></td>
		</tbody>
	</table>
	<div>
		<button data-bind="click: prev, visible: hasPrevious">Prev</button>
		<button data-bind="click: next, visible: hasNext">Next</button>
	</div>

	<script>
		document.addEventListener('DOMContentLoaded', function() {
			ko.applyBindings(new AdminFixModel('{{ .Twitname }}'));	
		});
	</script>
{{ end }}