<h1>Edit Image</h1>

<label>Id</label><br>
<input type="text" data-bind="value: image().id" disabled><br>

<label>Suffix</label><br>
<input type="text" data-bind="value: image().suffix"><br>

<label>Visibility</label><br>
<input type="text" data-bind="value: image().visibility"><br>

<label>Twitname</label><br>
<input type="text" data-bind="value: image().twitname"><br>

<label>Menu
	<input type="checkbox" data-bind="checked: image().menu">
</label><br>

<button data-bind="click: save">Save</button>
<br><br>

<img data-bind="attr: { src: 'http://irs0.4sqi.net/img/general/500x500' + image().suffix }">

<script>
	document.addEventListener('DOMContentLoaded', function() {
		ko.applyBindings(new AdminEditImage({{ .id }}));
	});
	
	function AdminEditImage(id) {
		var self = this;
		self.image = ko.observable({});
		
		$.ajax({
	    	dataType: 'json',
	    	url: API_URL + '/images/' + id,
	    	xhrFields: {
	      		withCredentials: true
	    	}
	  	}).done(function(data) {
	  		self.image(data);
	  	});

		self.save = function() {
			$.ajax({
		    	dataType: 'json',
		    	method: 'PUT',
		    	url: API_URL + '/images/' + id,
		    	data: ko.toJS(self.image),
		    	xhrFields: {
		      		withCredentials: true
		    	}
		  	}).done(function(data) {
		  		
		  	}).fail(function(data) {
		  		
		  	});
			return true;
		};
	}
</script>