<h1>Edit Location</h1>

<p>
	<a href="http://maps.google.com">Google Maps</a><br>
	<a href="http://regex101.com">Regex101</a>
</p>

<label>Id</label><br>
<input id="id" type="text" data-bind="value: loc().id" disabled><br>

<label>Display</label><br>
<input id="display" type="text" data-bind="value: loc().display"><br>

<label>Matcher</label><br>
<input id="matcher" type="text" data-bind="value: loc().matcher"><br>

<label>Latitude</label><br>
<input id="lat" type="text" data-bind="value: loc().lat"><br>

<label>Longitude</label><br>
<input id="long" type="text" data-bind="value: loc().long"><br>

<label>Zone</label><br>
<input id="zone" type="text" data-bind="value: loc().zone"><br>

<label>Site</label><br>
<input id="site" type="text" disabled="true" data-bind="value: loc().site"><br>

<button data-bind="click: save">Save</button>

<script>
	document.addEventListener('DOMContentLoaded', function() {
		ko.applyBindings(new AdminEditLoc({{ .id }}));
	});

	function AdminEditLoc(id) {
		var self = this;
		self.loc = ko.observable({});

		$.ajax({
	    	dataType: 'json',
	    	url: API_URL + '/locations/' + id,
	    	xhrFields: {
	      		withCredentials: true
	    	}
	  	}).done(function(data) {
	  		self.loc(data);
	  	});

		self.save = function() {
			$.ajax({
		    	dataType: 'json',
		    	url: API_URL + '/locations/' + id,
		    	method: 'PUT',
		    	data: ko.toJS(self.loc),
		    	xhrFields: {
		      		withCredentials: true
		    	}
		  	}).done(function(data) {
				success();
		  	}).fail(function(data) {
				var json = data.responseJSON;
				error(json.errors);
		  	});
			return true;
		};
	}
</script>
