<h1>New Message</h1>

<label>Message</label><br>
<textarea data-bind="value: message().message"></textarea><br>

<button data-bind="click: save">Save</button>

<script>
	document.addEventListener('DOMContentLoaded', function() {
		ko.applyBindings(new AdminMessage());
	});
	
	function AdminMessage() {
		var self = this;
		self.message = ko.observable({});

		$.getJSON(API_URL + '/messages?amount=1', function(data) {
  			self.message(data);
		});
		
		self.save = function() {
			$.post(API_URL + '/messages', ko.toJS(self.message), function(data) {
				self.message(data);
			});
			return true;
		};
	}
</script>