<h1>New Message</h1>

<label>Message</label><br>
<textarea data-bind="value: message().message"></textarea><br>

<button data-bind="click: save">Save</button>

<script>
	document.addEventListener('DOMContentLoaded', function() {
		ko.applyBindings(new AdminMessage());
	});
	
	function AdminMessage() {
		var self = this;
		self.message = ko.observable({});

		$.getJSON('/api/messages/current', function(data) {
  			self.message(data);
		});
		
		self.save = function() {
			$.post('/api/messages/add', ko.toJS(self.message), function(data) {
				self.message(data)
			});
			return true;
		};
	}
</script>