<h1>Add Truck</h1>

<label>Id</label><br>
<input type="text" data-bind="value: truck.id"><br>

<label>Name</label><br>
<input type="text" data-bind="value: truck.name"><br>

<label>Twitname</label><br>
<input type="text" data-bind="value: truck.twitname"><br>

<label>Web Url</label><br>
<input type="text" data-bind="value: truck.weburl"><br>

<label>Type</label><br>
<input type="text" data-bind="value: truck.type"><br>

<label>About</label><br>
<input type="text" data-bind="value: truck.about"><br>

<label>Foursquare</label><br>
<input type="text" data-bind="value: truck.foursquare"><br>

<label>Matcher</label><br>
<input type="text" data-bind="value: truck.matcher"><br>

<label>Match Method</label><br>
<input type="text" data-bind="value: truck.matchmethod"><br>

<label>Site</label><br>
<input type="text" data-bind="value: truck.site"><br>

<button data-bind="click: save">Save</button>

<script>
	document.addEventListener('DOMContentLoaded', function() {
		ko.applyBindings(new AdminAddTruck());	
	});
	
	function AdminAddTruck() {
		var self = this;
		self.truck = {
			id: ko.observable(),
			name: ko.observable(),
			twitname: ko.observable(),
			weburl: ko.observable(),
			type: ko.observable(),
			about: ko.observable(),
			foursquare: ko.observable(),
			matcher: ko.observable(),
			matchmethdo: ko.observable(),
			site: ko.observable()
		};
		
		self.save = function() {
			$.ajax({
				dataType: 'json',
				url: API_URL + '/trucks',
				method: 'POST',
				data: ko.toJS(self.truck),
				xhrFields: {
					withCredentials: true
				}
			}).done(function(data) {
				window.location = '/admin/truck/' + data.id;
			}).fail(function(data) {
				var json = data.responseJSON;
				var e = document.getElementsByClassName('error')[0];
				e.innerText = '';
				for(var x = 0; x < json.errors.length; x++) {
					e.innerText += json.errors[x].message;
				}
				e.classList.remove('hide');
			});
			return true;
		};
	}
</script>