<h1>Edit Sub</h1>

<label>Id</label><br>
<input type="text" data-bind="value: sub().id" disabled><br>

<label>Regex</label><br>
<input type="text" data-bind="value: sub().regex"><br>

<label>Replacement</label><br>
<input type="text" data-bind="value: sub().replacement"><br>

<button data-bind="click: save">Save</button>

<script>
	document.addEventListener('DOMContentLoaded', function() {
		ko.applyBindings(new AdminEditSub({{ .id }}));
	});
	
	function AdminEditSub(id) {
		var self = this;
		self.sub = ko.observable({});
		
		$.ajax({
	    	dataType: 'json',
	    	url: API_URL + '/subs/' + id,
	    	xhrFields: {
	      		withCredentials: true
	    	}
	  	}).done(function(data) {
	  		self.sub(data);
	  	});

		self.save = function() {
			$.ajax({
			    url: API_URL + '/subs/' + id,
			    method: 'PUT',
			    data: ko.toJS(self.sub),
			    xhrFields: {
	      			withCredentials: true
	    		}
			}).done(function(data) {

			}).fail(function(data) {

			});
			return true;
		};
	}
</script>