<h1>Subs</h1>

<input id="search" type="search" name="search" placeholder="Search..."
	   data-bind="value: query, valueUpdate: 'keyup'" autocomplete="off" />

<table class="table table-minimal">
	<thead>
		<tr>
			<th>Replacement</th>
			<th>Regex</th>
			<th></th>
		</tr>
	</thead>
	<tbody data-bind="foreach: results">
		<td><a data-bind="attr: { href: '/admin/sub/'+id }"><span data-bind="text: replacement"></span></a></td>
		<td><span data-bind="text: regex"></span></td>
		<td><a data-bind="click: $parent.delete">delete</a></td>
	</tbody>

</table>
<div data-bind="ifnot: query().length">
	<button data-bind="click: prev, visible: hasPrevious">Prev</button>
	<button data-bind="click: next, visible: hasNext">Next</button>
</div>

<script type="text/javascript">
	document.addEventListener('DOMContentLoaded', function() {
		ko.applyBindings(new AdminSubs());
	});

	function AdminSubs() {
		var self = this;
		self.subs = ko.observableArray([]);
		self.pageNumber = ko.observable(0);
		self.perPage = 10;
		self.query = ko.observable('');

		$.getJSON('/api/subs', function(data) {
			self.subs(data);
		});

		self.totalPages = ko.computed(function() {
			return totalPages(self.subs().length, self.perPage);
		});

		self.paginated = ko.computed(function() {
			var first = self.pageNumber() * self.perPage;
			return self.subs().slice(first, first + self.perPage);
		});

		self.hasPrevious = ko.computed(function() {
			return self.pageNumber() !== 0;
		});

		self.hasNext = ko.computed(function() {
			return self.pageNumber() !== self.totalPages;
		});

		self.next = function() {
			if(self.pageNumber() < self.totalPages()) {
				self.pageNumber(self.pageNumber() + 1);
			}
		};

		self.prev = function() {
			if(self.pageNumber() !== 0) {
				self.pageNumber(self.pageNumber() - 1);
			}
		};

		self.delete = function(sub) {
			$.ajax({
			    url: '/api/subs/' + sub.id + '/delete',
			    type: 'DELETE',
			    success: function(data) {
			        console.log(data);
					self.subs.remove(sub);
			    }
			});
		};

		self.results = ko.computed(function() {
			var items = ko.utils.arrayFilter(self.subs(), function(item) {
				return item.replacement.toLowerCase().indexOf(self.query().toLowerCase()) >= 0;
			});
			if(items.length < self.perPage) {
				self.pageNumber(0);
			}
			var first = self.pageNumber() * self.perPage;
			return items.slice(first, first + self.perPage);
		});
	}
</script>