<h1>Edit Truck</h1>

<label>Id</label><br>
<input type="text" data-bind="value: truck().id" disabled><br>

<label>Name</label><br>
<input type="text" data-bind="value: truck().name"><br>

<label>Twitname</label><br>
<input type="text" data-bind="value: truck().twitname"><br>

<label>Web Url</label><br>
<input type="text" data-bind="value: truck().weburl"><br>

<label>Type</label><br>
<input type="text" data-bind="value: truck().type"><br>

<label>About</label><br>
<input type="text" data-bind="value: truck().about"><br>

<label>Foursquare</label><br>
<input type="text" data-bind="value: truck().foursquare"><br>

<label>Matcher</label><br>
<input type="text" data-bind="value: truck().matcher"><br>

<label>Match Method</label><br>
<input type="text" data-bind="value: truck().matchmethod"><br>

<button data-bind="click: save">Save</button>

<table class="table table-minimal">
	<thead>
		<tr>
			<th>Image</th>
			<th>Menu</th>
			<th></th>
		</tr>
	</thead>
	<tbody data-bind="foreach: truck().images">
		<tr>
			<td>
				<div data-bind="css: visibility">
					<img data-bind="attr { src: 'http://irs0.4sqi.net/img/general/width60'+ suffix}" />
				</div>
			</td>
			<td><span data-bind="text: menu"></span></td>
			<td><a data-bind="click: $parent.delete">delete</a></td>
		</tr>
	</tbody>
</table>

<script>
	document.addEventListener('DOMContentLoaded', function() {
		ko.applyBindings(new AdminEditTruck({{ .id }}));
	});
	
	function AdminEditTruck(id) {
		var self = this;
		self.truck = ko.observable({});
		
		$.getJSON(API_URL + '/trucks/' + id, function(data) {
  			self.truck(data);
		});

		self.save = function() {
			$.ajax({
			    url: API_URL + '/trucks/' + id,
			    method: 'PUT',
			    data: ko.toJS(self.truck),
			    success: function(data) {
					console.log(data);
			    }
			});
			return true;
		};

		self.delete = function(image) {
			$.ajax({
			    url: API_URL + '/images/' + image.id,
			    type: 'DELETE',
			    success: function(data) {
					self.images.remove(image);
			    }
			});
		};
	}
</script>