mixin truckTable(trucks)
    table#truckTable.large-only.pure-table.pure-table-striped
        thead
            tr
                th Truck
                th Location
                th Time
                th Menu
        tbody
            each truck in trucks
                tr
                    td
                        a.truck(href=truck.weburl)=truck.name
                    td
                        span.tooltip(title=truck.tweet)= truck.location
                    td
                        a.time(href="http://twitter.com/" + truck.twitname)= prettyTime(truck.lastupdate)
                    td
                        img(src="/images/trucks/thumb/" + truck.twitname + ".jpg")