@{
    import (
        "wanderinglunch/view/layout/baseadmin"
    )
    var twitname string
    var texts []string
}

@section title {
	return "Wandering Lunch: Admin | Debug"
}

@section site {
    return ""
}

<h1>Sub tweets</h1>
<p>
    <a href="http://twitter.com/@twitname">Twitter</a>
</p>
<ul>
    @for _, t := range texts {
        <li>@t</li>
    }
</ul>
