@{
    import (
        "wanderinglunch/view/layout/baseadmin"
    )
}

@section title {
	return " | Debug"
}

@section site {
    return ""
}

<form method="get">
    <label>Twitname</label>
    <input type="text" name="twitname"><input type="submit" value="Submit">
</form>
