@{
    import (
        "wanderinglunch/view/layout/baseadmin"
    )
}

@section title {
	return "Wandering Lunch: Admin | Debug"
}

@section site {
    return ""
}

<div class="grid-1-center">
    <div class="col-7">
        <form method="get">
            <label>Twitname</label>
            <input type="text" name="twitname"><input type="submit" value="Submit">
        </form>
    </div>
</div>