@{
	import (
		"wanderinglunch/tmpl/layout/base"
	)
    var sitename string
    var trucks string
}

@section title {
	return "WL"
}

@section site {
    return sitename
}

<script>
    var initialTrucks = function() {
        return @raw(trucks)
    }
</script>