@{
	import (
		"wanderinglunch/tmpl/helper"
		"wanderinglunch/tmpl/layout/base"
	)
}

@section menu {
	@helper.Menu("login", false)
}

@section htmlTitle {
	return "| Login"
}

<form method="post">
	<label>Username</label><br>
	<input type="text" id="email" name="email" /><br>

	<label>Password</label><br>
	<input type="password" id="password" name="password" /><br>

	<button type="submit">Submit</button>
</form>