@{
	import (
		"wanderinglunch/tmpl/helper"
		"wanderinglunch/tmpl/layout/base"
	)
}

@section js {
}

@section menu {
	@helper.Menu("map", false)
}

@section htmlTitle {
	return "| Map"
}

<div id="map" style="height:500px"></div>
<br>
<div style="text-align:center">
	@helper.Advert("square")
</div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAN8Jk0062QBOMPmXH-Totg9zi1GCw3o3w&callback=initMap&v=3.22">
</script>