body {
	font-size: 14pt;
	color: #333;
	font-family: sans-serif;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-height: 100vh;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	margin-top: 0;
	margin-bottom: 0;
	justify-content: space-between;
}

main {
	width: 65%;
	margin: 0 auto;
}

footer {
	margin-top: 6rem;
	margin-left: auto;
	margin-right: auto;
	width: 65%;
	color: #888;
	padding-bottom: 2rem;
	font-size: 85%;
	display: flex;
	justify-content: space-between;
}

a {
	color: #1e824c;
	text-decoration: underline;
	text-decoration-skip: ink;
	-webkit-text-decoration-skip: skip;
}

a:focus {
	outline: solid #1e824c;
}

a:hover {
	color: #1e824c;
}

.zone__header {
	border-bottom: 2px solid black;
}

.truck {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	align-items: center;
}

.truck .truck__image {
	text-align: center;
	flex: 0.25;
}

.truck:not(:first-child) {
	border-top: 1px #666 dashed;
}

.truck > div {
	padding: 1rem;
	flex: 1;
}

.header {
	padding-top: 1rem;
}

.header .header__logo {
	text-align: center;
}

.header .header__nav ul {
	list-style: none;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

.header .header__nav ul li {
	padding-left: 1.5rem;
}

.foursquareImage {
	text-align: center;
}

.tweetList {
	list-style: none;
	width: 60%;
}

.tweetList .tweetList__tweet {
	border-bottom: 1px #666 dashed;
	padding-bottom: 1rem;
	padding-top: 1rem;
}

.tweetList .tweetList__tweet .tweet__time {
	font-size: 0.7em;
	color: #5d5d5d;
	float: right;
}

.gallery {
	text-align: center;
	margin: auto;
	max-width: 1000px;
}

.gallery figure {
	display: inline-block;
	padding: 1rem;
	margin: 0;
}
