<style>
	header {
		display: none;
	}
	body {
		background-color: #333;
		color: whitesmoke;
		text-align: center;
		vertical-align: center;
		font-family: sans-serif;
	}
	div {
		width: 100%;
		height: 100px;
		position: absolute;
		top:0;
		bottom: 0;
		left: 0;
		right: 0;
		
		margin: auto;
	}
	a {
		color: #48b9a3;
	}
</style>
<div>
	<h1>404 - Wandering Lunch can't find that page</h1>
	<p>
		The page you are trying to reach does not exist.
	</p>
	<p>
		<a href="http://wanderinglunch.com">Return to main page</a>
	</p>
</div>
