{{ with .truck }}
	<h1>{{ .Name }}</h1>
	<h2>Information</h2>
	<p>
		<ul>
			<li><a href="http://twitter.com/{{ .Twitname }}">Twitter</a></li>
			{{ if .Weburl.Value }}
				<li><a href="{{ .Weburl.Value }}">Website</a></li>
			{{ end }}
			{{ if .Foursquare.Value }}
				<li><a href="http://foursquare.com/v/{{ .Foursquare.Value }}?ref=P1JDYDE13QQDC11VUSA4LV3VV25OTRPHV1WAV5WP3VCE0QUP">Foursquare</a></li>
			{{ end }}
		</ul>
	</p>

	<h2>Tweets</h2>
	<a href="#">Next Page</a>
	<table>
		<thead>
			<th>Tweet</th>
			<th>Functions</th>
		</thead>
		<tbody data-bind="foreach: tweets">
			<td data-bind="text: Contents"></td>
			<td><a href="#">Convert</a>
		</tbody>
	</table>


	<script>
		document.addEventListener('DOMContentLoaded', function() {
			var page = 0;
			var r = new XMLHttpRequest();
			r.open('GET', '/admin/tweets/{{ .Twitname }}/' + page, true);
			r.onreadystatechange = function() {
				if(r.readyState != 4 || r.status != 200 ) return;
				console.log(r.responseText);
				var j = JSON.parse(r.responseText);
				ko.applyBindings({
					tweets: j.tweets,
				});
			};
			r.send();
		});
	</script>

{{ end }}