<h1>Locations</h1>

<table class="table table-minimal">
	<thead>
		<tr>
			<th>Display</th>
			<th>Matcher</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody data-bind="foreach: paginated">
		<td><a data-bind="attr: { href: '/admin/location/'+id }"><span data-bind="text: display"></span></a></td>
		<td><span data-bind="text: matcher"></span></td>
		<td>
			<button>Edit</button>
		</td>
	</tbody>
</table>
<button data-bind="click: prev, visible: hasPrevious">Prev</button>
<button data-bind="click: next, visible: hasNext">Next</button>



<script type="text/javascript">
	document.addEventListener('DOMContentLoaded', function() {
		ko.applyBindings(new AdminLocs());	
	});
	
	function AdminLocs() {
		var self = this;
		self.locs = ko.observable([]);
		self.pageNumber = ko.observable(0);
		self.perPage = 10;

		$.getJSON('/api/locations', function(data) {
  			self.locs(data);
		});

		self.totalPages = ko.computed(function() {
			var div = Math.floor(self.locs().length / self.perPage);
			div += self.locs().length % self.perPage > 0 ? 1 : 0;
			return div - 1;
		});

		self.paginated = ko.computed(function() {
			var first = self.pageNumber() * self.perPage;
			return self.locs().slice(first, first + self.perPage);
		});

		self.hasPrevious = ko.computed(function() {
			return self.pageNumber() !== 0;
		});

		self.hasNext = ko.computed(function() {
			return self.pageNumber() !== self.totalPages;
		});

		self.next = function() {
			if(self.pageNumber() < self.totalPages()) {
				self.pageNumber(self.pageNumber() + 1);
			}
		};

		self.prev = function() {
			if(self.pageNumber() !== 0) {
				self.pageNumber(self.pageNumber() - 1);
			}
		};
	}
</script>