<!--

	<h1>Manhattan</h1>
	<table class="table table-minimal">
		<thead>
			<tr>
				<th>Truck</th>
				<th>Location</th>
				<th>Time</th>
				<th class="noMobile">Menu</th>
			</tr>
		</thead>
		<tbody>
			{{ range .m }}
				<tr>
					<td>
						<a class="truck" href="/truck/{{ .Id }}">{{ .Name }}</a>
					</td>
					<td>
						{{ .Location.Value }}
					</td>
					<td>
						{{ .PrettyDate }}
					</td>
					<td class="noMobile">
						{{ if .Image.Value }}
							<img src="http://irs0.4sqi.net/img/general/width30{{ .Image.Value }}" />
						{{ end }}
					</td>
				</tr>
			{{ end }}
		</tbody>
	</table>

	<h1>Brooklyn</h1>
	<table class="table table-minimal">
		<thead>
			<tr>
				<th>Truck</th>
				<th>Location</th>
				<th>Time</th>
				<th class="noMobile">Menu</th>
			</tr>
		</thead>
		<tbody>
			{{ range .b }}
				<tr>
					<td>
						<a class="truck" href="/truck/{{ .Id }}">{{ .Name }}</a>
					</td>
					<td>
						{{ .Location.Value }}
					</td>
					<td>
						{{ .PrettyDate }}
					</td>
					<td class="noMobile">
						{{ if .Image.Value }}
							<img src="http://irs0.4sqi.net/img/general/width30{{ .Image.Value }}" />
						{{ end }}
					</td>
				</tr>
			{{ end }}
		</tbody>
	</table>

-->
<div class="row">
	<div class="col-6">
		{{ .message }} 
	</div>
	<div class="col-6">
		<img src="http://placehold.it/300x250" />
	</div>
</div>
<div class="row">
	<div class="col-buttons">
		<div class="button-group">
			<label>
				<input type="radio" name="button-group" value="manhatten" checked data-bind="checked: location, click: setVisible">
				<span class="button-group-item">Manhatten</span>
			</label>
			<label>
				<input type="radio" name="button-group" value="brooklyn" data-bind="checked: location, click: setVisible" />
				<span class="button-group-item">Brooklyn</span>
			</label>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-12" data-bind="if: visible().length">
		<button class="js-update" data-bind="click: update">Update</button>
		<table class="table table-minimal">
			<thead>
				<tr>
					<th>Truck</th>
					<th>Location</th>
					<th>Time</th>
					<th class="noMobile">Menu</th>
				</tr>
			</thead>
			<tbody data-bind="foreach: visible">
				<td><a data-bind="attr: { href: '/truck/'+Id }"><span data-bind="text: Name"></span></a></td>
				<td><span data-bind="text: Location.String"></span></td>
				<td><span data-bind="text: Updated"></span></td>
				<td class="noMobile">
					<span data-bind="if: Image.String">
						<img data-bind="attr { src: 'http://irs0.4sqi.net/img/general/width30'+ Image.String }" />
					</span>
				</td>
			</tbody>
		</table>
	</div>
	<div class="col-12" data-bind="ifnot: visible().length">
		No trucks in this area.
	</div>
</div>
<div class="row">
	<div class="col-12" data-bind="ifnot: trucks().length">
		<h1 class="centerText">Your hunger cannot be satisfied, no trucks are tweeting</h1>
		<p class="centerText">If it's late bookmark the site and come back around lunchtime! <br></p>
		<p class="centerText">There will be a list of trucks here, <a target="_blank" href="https://twitter.com/intent/tweet?text=Wandering Lunch&url=http://wanderinglunch.com">tweet</a> at yourself so you don't forget.<br></p>
		<p class="centerText">Check out <a href="/alltrucks">a list of all the trucks</a> on the site while you wait.</p>
	</div>
</div>
<script>
	ko.applyBindings(new indexModel());
</script>
