<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		{{ .title }}
	</title>
	<script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-3.1.0.js"></script>
	<link rel="stylesheet" media="screen" href="/static/site.css">
	<script src="/static/site.js"></script>
</head>
<body>
	<header class="nav">
		<div class="nav-wrapper">
			<div class="nav-left">
				<div class="logo"></div>
			</div>
			<div class="nav-right">
				<a {{if eq current "index" }} class="active" {{ end }} href="/">Home</a>
				<a class="noMobile {{if eq current "alltrucks" }}active{{ end }}" href="/alltrucks">All Trucks</a>
				<a {{if eq current "map" }} class="active" {{ end }} href="/map">Map</a>
				<a href="/feed">Live Feed</a>
				<a class="noMobile" href="http://twitter.com/peppage">Twitter</a>
			</div>
      	</div>
	</header>
	<div class="section">
		<div class="content-wrapper">
			<div class="row">
				{{ yield }}
			</div>
		</div>
	</div>
	<div class="section">
		<footer class="footer">
		</footer>
	</div>
</body>
</html>