<div class="width960">
  <h1>Support the Site</h1>

  <p class="about">
    Thanks for even thinking about supporting this site.  I have
    put a lot of time and energy into making this and I hope you
    find it useful. Right now the server costs $5/mo to run, if you
    want to help you can use any of these methods:
  </p>

  <br>

  <div class="support-area">
    <script async="async" src="https://www.paypalobjects.com/js/external/paypal-button.min.js?merchant=peppage@gmail.com" 
      data-button="donate" 
      data-name="Support Wandering Lunch" 
      data-amount="0" 
      data-currency="USD"
      data-shipping="0" 
      data-tax="0" 
      data-callback="http://wanderinglunch.com"
    ></script>

    <div class="bit-coin">
      <a href="http://en.wikipedia.org/wiki/Bitcoin">฿</a>
      &#58; 15u7iHaRHaBFkANCHfFaiyx6g6TBBEa8A8
    </div>
  </div>
  <br>
  <div class="about">
    If you take a good picture and upload it to foursquare let me know
    and I will add your photo on the truck page. It would be great to have
    quality photos for people to see the types of food at the truck. If you
    don't use foursquare you may send me a picture and I will assume I have
    permission to add it for you.

  </div>
</div>