@{
	var body string
	var title string
}
<!DOCTYPE html>
<html>
<head>
	<title>@title</title>
    <script src="/static/mithril.js"></script>
</head>
<body>
	@body
    <script src="/static/site.js"></script>
</body>
</html>
