@{
	var body string
	var title string
    var site string
}
<!DOCTYPE html>
<html>
<head>
	<title>@title</title>
    <script src="/static/mithril.js"></script>
    <link rel="stylesheet" href="/static/site.css">
</head>
<body>
    <div class="grid-1-center">
        <a href="/@site"><img src="/static/images/wl.png"></a>
    </div>

    <div class="content">
	    @body
    </div>
    <script src="/static/site.js"></script>
</body>
</html>
