@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
    ViewData["Site"] = "";
}

<h1>
    @ViewData["Title"]
</h1>

<form method="post">
    <div class="form-field">
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email" />
    </div>
    <div class="form-field">
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" />
    </div>

    <div class="form-buttons">
        <button type="submit">Login</button>
    </div>
</form>