@page
@model Status404Model
@{
    ViewData["Title"] = "404 not found";
    ViewData["Site"] = "nyc";
}

<h1>404 page not found</h1>

<p>
    Go back to your location's homepage?
    <ul>
        <li><a href="/nyc">NYC</a></li>
        <li><a href="/dc">DC</a></li>
        <li><a href="/buffalo">Buffalo</a></li>
    </ul>
</p>